:root {
  --branding-color: #0881a3;
  --secondary-color: #fffdfb;
  --third-color: #fde9df;
  --fourth-color: #ffd6a4;
  --heading-font-family: "Domine", serif;
  --default-font-family: "Inter", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}
h2 {
  font-size: 50px;
  line-height: 1.5;
}

h4 {
  font-size: 40px;
}

p {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
}

a {
  color: var(--branding-color);
}

a:hover {
  color: var(--fourth-color);
}

.home-images img {
  filter: grayscale(0.9);
  opacity: 0.8;
}

.work img {
  max-height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.skills img {
  max-height: 70px;
  display: inline-block;
  padding: 0px;
  float: right;
}
.preview-image {
  background-color: var(--third-color);
}
.hero {
  background: var(--third-color);
  text-align: center;
  padding: 100px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  color: #272142;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: 600px;
  line-height: 2;
  font-size: 24px;
}

.content-container {
  padding: 120px 20px;
}

.content h1 {
  font-size: 54px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 16px;
  line-height: 1.5px;
  margin: 20px 0 0;
  font-family: var(--default-font-family);
}
.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.work h1 {
  text-align: center;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  background: white;
  color: var(--branding-color);
  border: 2px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover,
.btn-branding-outline:hover {
  background: var(--fourth-color);
}

.project-description {
  padding: 50px 30px;
}

.logo {
  max-height: 80px;
}

.box {
  height: 400px;
  overflow: hidden;
}

.headshot {
  max-width: 400px;
}

.about-content {
  text-align: right;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  font-size: 20px;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 44px;
  margin-left: 12px;
}

nav a {
  text-decoration: none;
  color: grey;
  transition: all 100ms ease-in-out;
}
nav li.active a {
  color: var(--branding-color);
}

nav a:hover {
  color: var(--fourth-color);
}

footer {
  margin: 60px 0;
  border-top: solid;
  border-color: var(--third-color);
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: white;
  padding: 10px 14px;
  border-radius: 50px;
  font-size: 18px;
  transition: all 10ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

footer p {
  font-size: 11px;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 400px;
  width: 800px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 400px;
  width: 800px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 60px;
  }
  .work h1 {
    font-size: 40px;
    line-height: 40px;
  }
  h2 {
    font-size: 40px;
  }

  h4 {
    font-size: 30px;
  }
  .hero {
    padding: 70px 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .logo {
    max-height: 50px;
  }

  nav a {
    font-size: 14px;
  }

  .headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .mapouter {
    width: 350px;
  }

  .gmap_canvas {
    width: 350px;
  }

  .skills img {
    float: none;
  }
}
